<div id="index">
  

  <div class="row">
    <div class="column">
      <img id="avery100east" class="feed-nav" onerror="imgError(this);">
      <div class="label">Avery 100 East</div>
    </div>
    <div class="column">
      <img id="avery100west" class="feed-nav" onerror="imgError(this);">
      <div class="label">Avery 100 West</div>
    </div>
    <div class="column end">
      <img id="avery200" class="feed-nav" onerror="imgError(this);">
      <div class="label">Avery 200</div>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="column">
      <img id="avery400north" class="feed-nav" onerror="imgError(this);">
      <div class="label">Avery 400 South</div><!-- CAMERAS MIS-NAMED!!!!!!! -->
    </div>
    <div class="column">
      <img id="avery400south" class="feed-nav" onerror="imgError(this);">
      <div class="label">Avery 400 North</div><!-- CAMERAS MIS-NAMED!!!!!!! -->
    </div>
    <div class="column end">
      <img id="avery400lobby" class="feed-nav" onerror="imgError(this);">
      <div class="label">Avery 400 Lobby</div>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="column">
      <img id="avery600ware" class="feed-nav" onerror="imgError(this);">
      <div class="label">Avery 600 Ware</div>
    </div>
    <div class="column">
      <img id="averyLAWNsouth" class="feed-nav" onerror="imgError(this);">
      <div class="label">Avery Lawn South</div>
    </div>
  </div><!-- /.row -->


</div><!-- /#index -->

<div id="about">
  <div id="about-container">
    <p>
      The End of Year Show occurs annually and exhibits the research and design work produced by the students of <a href="http://www.columbia.edu">Columbia University</a>'s <a href="http://www.arch.columbia.edu/">Graduate School of Architecture, Planning and Preservation</a>. 
    </p>
    <p>This microsite documents the 2013 exhibition as it is designed and built live throughout the spaces of Avery Hall. It captures the enormous transformation of the school over a short period of time, and surveys how the work is viewed and experienced.
    </p>
    <p>The 2013 End of Year Show opens on Saturday, May 18, 2013 with a reception at 5pm and remains on view through May 25, 2013. <a href="http://www.arch.columbia.edu/files/gsapp/imceshared/EOYS_2013.pdf">Click to download the poster</a>. 
    </p>
    <p>This a project of the Architecture Online Lab, directed by Troy Conrad Therrien and Leigha Dennis, with the generous support of Mark Wigley, John Ramahlo, and Mark Taylor.
    </p>
    <div id="logo"><a href="http://www.arch.columbia.edu/"><img src="/images/gsapp.png" /></a></div>

  </div>
</div>
<div id="footer">
</div>

<script>
  function imgError(image) {
      image.onerror = "";
      image.src = "/images/noimage.gif";
      return true;
  }
</script>